html 
script(defer src='/js/users.js')
link(rel = "stylesheet" href="/css/users.css")
body 
    .usersContaineer 
        each user in result
            .userContainer 
                p.login= user.login
                p.password= user.password
    form.userForm
        input(type="text" name ="login" class = "loginInput")
        input(type="text" name="password" class = "passwordInput")
        button(type="submit" class = "submitButton") Submit